<li id="{{ entry.key }}">
  [{{ include.count }}] 
  {% if entry.author %}
    {{ entry.author }},
  {% endif %}
  <strong>{{ entry.title }}</strong>.
  {% if entry.journal %}
    <em>{{ entry.journal }}</em>,
  {% endif %}
  {% if entry.booktitle %}
    <em>{{ entry.booktitle }}</em>,
  {% endif %}
  {% if entry.year %}
    {{ entry.year }}.
  {% endif %}

  <!-- Optional buttons -->
  {% if entry.abstract %}
    <a href="{{ entry.url | relative_url }}" target="_blank">[ABS]</a>
  {% endif %}
  {% if entry.doi %}
    <a href="https://doi.org/{{ entry.doi }}" target="_blank">[DOI]</a>
  {% endif %}
</li>
