/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
// .profile {
//   img {
//     width: 70%; /* 保持图片比例 */
//   }
// }

.profile-section {
  display: flex; /* 实现图片与文字的并排布局 */
  align-items: left; /* 垂直居中对齐 */
  margin: 60px 0;
  gap: 30px; /* 设置图片与文字之间的间距 */
}

.profile-text {
  max-width: 600px; /* 限制文字部分宽度 */
}

.profile-text h1 {
  font-size: 24px; /* 标题大小 */
  font-weight: bold; /* 标题加粗 */
  margin: 0 0 10px 0; /* 调整标题与文字的间距 */
}

.profile-text p {
  font-size: 16px; /* 正文字体大小 */
  margin: 5px 0;
}

.profile-section img {
  width: 150px;
  height: auto; /* 按比例缩放图片 */
  // image_cicular: false /* crops the image to make it circular*/
  // width: 150px; /* 设置图片宽度 */
  // height: 150px; /* 设置图片高度 */
  object-fit: cover; /* 确保图片裁剪适配 */
  border-radius: 10%; /* 如果需要圆形图片 */
  margin-right: 60px; /* 图片与文字之间的间距 */
}




// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
