---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

// body {
//   background-color: #F7F7F7 !important; /* 替换为你想要的颜色 */
// }


// .section-divider {
//   border: 0 !important;
//   border-top: 1px solid #ddd !important;
//   margin: 20px 0 !important;
//   width: 100% !important;
// }

.custom-divider {
  content: '';
  width: 100%; /* 横线占满整个父元素宽度 */
  height: 1px; /* 横线的高度 */
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 10%, /* 左侧透明占 10% */
    #d8d8d8 30%,          /* 渐变到中间部分 */
    #d8d8d8 70%,          /* 中间部分 */
    rgba(0, 0, 0, 0) 90%  /* 右侧透明占 10% */
  );
  margin: 30px auto; /* 居中对齐 */
}



.scroll-container {
  display: flex; /* 使用 flexbox 布局 */
  overflow-x: scroll; /* 启用横向滚动 */
  gap: 16px; /* 子元素之间的间距 */
  padding: 16px; /* 容器的内边距 */
  scroll-behavior: smooth; /* 平滑滚动效果 */
}

.scroll-item {
  flex: 0 0 auto; /* 子元素宽度固定 */
  height: 250px; /* 固定高度 */
  display: flex; /* 用于居中对齐 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  border: 1px solid #ddd;
  border-radius: 1px;
  padding: 8px;
  overflow: hidden; /* 防止内容超出容器 */
  text-align: center;
}

.scroll-item img {
  height: 90%; /* 图片高度与父容器一致 */
  width: auto; /* 宽度根据图片比例调整 */
  object-fit: contain; /* 保证图片内容完整，不被裁剪 */
}


