---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

// body {
//   background-color: #F7F7F7 !important; /* 替换为你想要的颜色 */
// }


// .section-divider {
//   border: 0 !important;
//   border-top: 1px solid #ddd !important;
//   margin: 20px 0 !important;
//   width: 100% !important;
// }

.custom-divider {
  content: '';
  width: 100%; /* 横线占满整个父元素宽度 */
  height: 1px; /* 横线的高度 */
  background: linear-gradient(to right, transparent, #d8d8d8, transparent); /* 渐变效果 */
  margin: 20px 0; /* 与内容的上下间距 */
}
