---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

// body {
//   background-color: #F7F7F7 !important; /* 替换为你想要的颜色 */
// }


// .section-divider {
//   border: 0 !important;
//   border-top: 1px solid #ddd !important;
//   margin: 20px 0 !important;
//   width: 100% !important;
// }

.custom-divider {
  content: '';
  width: 200%; /* 横线占满整个父元素宽度 */
  height: 1px; /* 横线的高度 */
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 10%, /* 左侧透明占 10% */
    #d8d8d8 30%,          /* 渐变到中间部分 */
    #d8d8d8 70%,          /* 中间部分 */
    rgba(0, 0, 0, 0) 90%  /* 右侧透明占 10% */
  );
  margin: 30px auto; /* 居中对齐 */
}
