---
layout: default
---
<!-- page.html -->
        <div class="post">

          <header class="post-header">
            <!-- <h1 class="post-title">{{ page.title }}</h1> -->
            {% unless page.hide_title %}
              <h1 class="page-title">{{ page.title }}</h1>
            {% endunless %}
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>
            {{ content }}

            {% if page.news %}
              {% include news.html %}
            {% endif %}

            {% if page.selected_papers %}
              {% include selected_papers.html %}
            {% endif %}

            {% if page.social %}
              {% include social.html %}
            {% endif %}
          </article>

        </div>
